.Video {
	height: 100%;
	display: flex;
	flex-direction: row;

	//background-color: hsla(0, 0%, 0%, 1);

	.Content {
		height: 100%;
		min-width: 0;
		flex-grow: 1;
		display: flex;
		flex-direction: column;

		.Player {
			flex-grow: 1;

			.Embed {
				height: 100%;
				width: 100%;
			}
		}

		.Timeline {
			position: relative;
			box-sizing: border-box;
			padding: 0.75rem 0.5rem 0.25rem 0.5rem;
			height: 12rem;
			width: 100%;
		}
	}

	.Chat {
		height: 100%;
		width: 0;
	}
}