// Navi height.
$navi_height: 0rem;


* {
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.App {
	height: 100vh;

	.View {
		box-sizing: border-box;

		height: 100%;

		padding: 0 0 $navi_height 0;
	}

	.Navi {
		z-index: 100;
		position: fixed;
		bottom: 0;

		height: $navi_height;
		width: 100%;
	}
}